<?php
/**
 * Brim LLC Commercial Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Brim LLC Commercial Extension License
 * that is bundled with this package in the file license.pdf.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.brimllc.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@brimllc.com so we can send you a copy immediately.
 *
 * @category   Brim
 * @package    Brim_Groupedoptions
 * @copyright  Copyright (c) 2011-2016 Brim LLC
 * @license    http://ecommerce.brimllc.com/license
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php if ($_product->isSuper() || $_product->getHasOptions()) : ?>
<strong class="grouped-options-label""><?php echo $this->__('Options'); ?></strong>
<div class="product-options grouped-options-wrapper">
    <?php echo $this->getRenderedProductHtml(); ?>
    <div class="required-key">
        <?php echo $this->__('* = Required Option'); ?>
    </div>
    <div class="clear"></div>
</div>
<?php endif; ?>