<h1 id="brim-llc-commercial-extension-end-user-license-agreement-agreement">BRIM LLC COMMERCIAL EXTENSION END USER LICENSE AGREEMENT (&quot;AGREEMENT&quot;)</h1>
<h2 id="general">1. General</h2>
<p>This is a legal agreement between Brim LLC and the Customer that purchases and use extensions for Magento (Product) developed by Brim LLC. By purchasing the Product, the customer is agreeing with the terms and conditions stated below. Any violation of this agreement automatically revokes the Customer’s right to use the Product, the Customer must cease using the Product and delete all copies and derivatives of the Product at the Customer’s disposal.</p>
<h2 id="license">2. License</h2>
<p>By purchasing the Product, the Customer obtains a License, which will remain valid until the Customer stops using the Product or until Brim LLC terminates this License because of Customer's failure to comply with any of its Terms and Conditions.</p>
<p>Brim LLC offers a single Magento installation license for the Product that covers a single production environment. A license is not required for development environments.</p>
<p>A sold License does not include ownership of any original works, part of thereof or any documentation or derivative works of the Product.</p>
<h2 id="copyright">3. Copyright</h2>
<p>Any unauthorized copying, renting, leasing, sub-licensing, pledging, conveying, creating any Derivative Works, or disclosing of modification source code in any way, porting of Product to other platforms and content management systems without prior written approval from Brim LLC is prohibited.</p>
<p>The Customer is not allowed to remove the original Brim LLC copyright inscription from the source code of the Product. Modifications of the source code are allowed, but at Customer’s own risk.</p>
<p>If revealed that the Product is used in breach of the above mentioned terms of use, Brim LLC, is authorized to suspend the license, advising the Customer on what actions are required to resolve the matter. In cases of a severe or repetitive violation where advice has been ignored, Brim LLC is authorized to revoke the License.</p>
<p>The source code and files are exclusively owned by Brim LLC, unless noted in source code and/or documentation, and are subject to US Copyright Law and Copyright Laws of the State of Ohio, as well as international copyright treaty provisions. Brim LLC retains title to and ownership of the Product and all enhancements, modifications and updates of the Product.</p>
<p>The exclusive forum for disputes arising out of, or relating to, this Agreement shall be an appropriate federal or state court in the county of Hamilton, Ohio.</p>
<h2 id="installation">4. Installation</h2>
<p>In case of any problems with installation the Customer may purchase installation service executed by Brim LLC’s staff. To use the paid installation service the Customer is obligated to present correct web-site access information to Brim LLC support personnel, as well as valid Product License information. Installation service payments are non-refundable. Brim LLC will only provide paid installation services for Brim LLC products where the source code hasn’t been modified by the Customer or any 3rd party.</p>
<p>Failing to meet any of the above mentioned requirements deprives Customer of ability to use this service.</p>
<h2 id="product-support-policy">5. Product Support Policy</h2>
<p>Free support period for one Product totals 6 months starting from the purchase date of the Product.</p>
<p>Support team shall provide to Customer, without additional charge, all reasonably necessary written consultation requested in connection with use and operation of the Product or any problems therewith, within above-stated period of time.</p>
<p>Free support does not include achieving compatibility with third party solutions and is not provided if the Product has been customized. In cases when extraordinary support efforts will be required Customer will be offered paid support services.</p>
<p>Under extraordinary support efforts Brim LLC supposes a request which probable cost to resolve may exceed the cost of the purchased Product.</p>
<p>All information, acquired from Brim LLC support team is advisory only and shall not create any warranty for Brim LLC .</p>
<h2 id="service-level-agreement">6. Service Level Agreement</h2>
<p>Brim LLC will provide support services via support tickets system, support.brimllc.com Monday - Friday, 8 am - 5 pm EST.</p>
<h2 id="product-updates">7. Product Updates</h2>
<p>Brim LLC will release Product updates at its discretion. Customer can download updates via My Account section of the website.</p>
<p>All updates can be used only as a replacement of a previously purchased Product, not as a separate copy of a Product.</p>
<p>Brim LLC reserves the right to discontinue product updates.</p>
<p>Updates shall be available to the Customer free of charge for 6 months from the original purchase date.</p>
<p>Customer is not obligated to purchase updates every 6 months. The decision about whether to purchase an update and when is solely Customer’s right. Customer can continue using the Product after 6 months from the original purchase date and can contact Brim LLC for paid support services.</p>
<h2 id="refunds">8. Refunds</h2>
<p>The Product comes with a 15 day money back guarantee. A refund maybe requested for the Product for 15 days from the date of purchase for any reason.</p>
<p>Upon refund the Customer agrees to destroy all copies of the software that may have been made or stored in any place. The software must be uninstalled from any computers owned and/or controlled by the Customer. All licenses to use the software will be immediately terminated, and any further use of the software is an infringement of Brim LLC's copyright and other intellectual property rights.</p>
<h2 id="confidentiality">9. Confidentiality</h2>
<p>Each party agrees that it shall not disclose any information concerning the customers, trade secrets, methods, processes or procedures or any other confidential, financial or business information of the other party, which it learns during the course of its performance of this Agreement to any third party, without the prior written consent of such other party. This obligation shall survive the cancellation or other termination of this Agreement or License.</p>
<p>The Product contains trade secrets and proprietary know-how that belong to Brim LLC and it is being made available to Licensee in strict confidence. Brim LLC doesn’t collect any personal or business information.</p>
<h2 id="disclaimer">10. Disclaimer</h2>
<p>Brim LLC Products are not stand-alone solutions and require Magento to be installed primarily with a valid Magento License. Brim LLC does not guarantee for its Product to operate correctly on any Magento solution, either modified or non-modified.</p>
<p>Brim LLC does not bear any responsibility for damages or incorrect running of the Magento solution, occurred due to installation or utilizing of Module. Brim LLC disclaims any accountability for content of a site on which the Product is installed. Complaints received from any third party may result in License suspension or revocation if the matter cannot be resolved. License suspension action is at the sole discretion of Brim LLC and is intended to offer both parties time for settlement or advice.</p>
<p>License reinstatement shall remain Vendor's exclusive privilege. Brim LLC is not liable to Customer or any third party for any damages including, but not limited to, loss of business or business profits, loss of business information due to using Brim LLC Products. By accepting this License Agreement Customer acknowledges to use the Product at own risk and has clear understanding of responsibility for any damage to own computer system and data.</p>
<h2 id="changes-in-conditions">11. Changes in Conditions</h2>
<p>Brim LLC reserves the right to modify these agreement terms at any time. It is solely the Customer's responsibility to inquire about any changes made to the present Agreement.</p>
<p>=============================</p>
<p>Last updated on July 5th, 2012.</p>
